body {
    padding: 3em 0em;
    font-family: "Winky Sans", sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    margin-top: 40px;
}

th, td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

td:nth-child(4), th:nth-child(4) {
    text-align: right;
}

#optionToggle {
    margin-left: 10px;
}

#resultArea {
    margin-top: 70px;
}